<h1>Contact</h1>
<p>
  Open a gihub issue in the repositories
  <a href="https://github.com/vasilakisfil/ember_on_rails5"><em>ember_on_rails5</em></a> and <a href="https://github.com/vasilakisfil/rails5_api_tutorial"><em>rails5_api_tutorial</em></a>.
</p>
