<div class="row">
  {{user-aside
    model=model.user
    tagName="aside"
    class="col-md-4"
    profileRoute=true
  }}
  <div class="col-md-8">
    {{#if (not-eq session.currentUser.id model.user.id)}}
      {{follow-form model=model.user}}
    {{/if}}
    {{microposts-index
      model=model.microposts
      micropostsCount=model.user.micropostsCount
      meta=model.microposts.meta
    }}
  </div>
</div>
